.styleModal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 70%;
  max-height: 70%;
  /* margin-top: 50%;
  margin-bottom: 50%; */
  margin: auto;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.8);
}
